{
    http_port 80
    https_port 443
}

{$ZALO_VN_HOST} {
    log {
        output stdout
        format console
    }

    @zaloWebhook path /webhook/calotrack-zalo-oa-v2*
    handle @zaloWebhook {
        reverse_proxy https://n214.fastn8n.id.vn {
            header_up Host n214.fastn8n.id.vn
        }
    }

    respond /healthz 200 {
        body "ok"
    }

    respond "CaloTrack Zalo VN ingress" 200
}
